mat-card{
    margin-top: 6vh;
    margin-left: 50vh;
    width: 30rem; 
    height: auto;
    float: left;
    max-width: 100%;
}
h4{
    text-align: center;
}
.password{
    width: 33vh;
}
.scrollable-main{
    overflow-y: scroll;
    height: 87vh;
    background-color: rgb(22, 22, 37);
  }