<div class="row">
  <app-admin-navbar></app-admin-navbar>
</div>
<app-sidenav></app-sidenav>
<div class="row" style="background: rgb(237,172,201);
background: radial-gradient(circle, rgba(237,172,201,1) 0%, rgba(197,211,228,1) 100%); padding-bottom: 5%;padding-top: 5%;align-self: center;">
   
   <div class="row">
    <div >
    <br>
  <div>
<div [formGroup]="updatePassword" >
 
    <mat-card class="example-card bg-light text-center text-dark">
      <mat-card-title class="display-6">Update Password</mat-card-title>
      <br/>
     
      <mat-form-field appearance="fill" class="password">
        <mat-label>Enter New password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br/>
      <mat-form-field appearance="fill" class="password">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword"> 
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br/>
     
        <button class="btn btn-primary" (click)="changePassword()">Update Password</button>
      </mat-card>
    </div>
    </div>
    </div>
