<div class="row">
  <app-citizen-navbar></app-citizen-navbar>
</div>
  <div class="row">
    <app-sidenav></app-sidenav></div>
<div >
  <div class="table" style="background: rgb(237,172,201);
  background: radial-gradient(circle, rgba(237,172,201,1) 0%, rgba(197,211,228,1) 100%); padding-bottom: 5%;padding-top: 5%;align-self: center;">

<div class="complaint">

<h1 style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><strong>Public Complaints</strong></h1><br>


	<table style="font-size: 1.1rem; width: 90%; text-align: center; margin-left: 70px" class="table table-striped table-bordered">
		<thead>
			<tr class="thead" style="background-color: #4058cf;">
				<th> Complaint No</th>			
				<th> Description</th>
				<th > Status</th>
				<th style="width: 150px"> Created Date</th>
				<th style="width: 150px"> Closed Date</th>	
				<th > Department name</th>
				<th > Comments </th>
				<th style="width: 150px"> Details</th>
			</tr>
		</thead>
		
		<tbody>
			<tr *ngFor="let complaint of complaintList; let i= index">
				<td>{{i + 1 }}</td>			
				<td>{{complaint.complaintDescription}}</td>
				<td><b><i>{{complaint.status}}</i></b></td>
				<td>{{complaint.complaintRegisterDate}}</td>
				<td>{{complaint.complaintResolveDate}}</td>			
        <td>{{complaint.departmentId.departmentName}}</td>		
				<td>				
					<button data-bs-dismiss="modal" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" data-bs-toggle="modal" data-bs-target="#commentModal" (click)="setModal(complaint)">
						<mat-icon>comment</mat-icon>
					</button>
				</td>
				<td>
				<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" data-bs-toggle="modal" data-bs-target="#complaintModal" (click)="setModal(complaint)" >
						<mat-icon>open_in_new</mat-icon>
					</button>					
				</td>
			</tr>
		</tbody>
	
	</table>
	<br>
	<br>


<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="exampleModalLabel"><strong> Comments: </strong> </h3>
		  <button data-bs-dismiss="modal" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
			<mat-icon>cancel</mat-icon>
		  </button>
		</div>
		<div class="modal-body">		 
		  <div *ngFor="let c of commentList">
			  <span><strong>{{c.comment}}</strong> </span>   <span style="float: right; color: blue;">-- {{c.user}}</span>			 
		  </div>
		</div>
		<div class="modal-footer">
			<table class="table">
				<tbody>
					<tr>					
						<td>
							<textarea [(ngModel)]="comment" placeholder=" comment here"></textarea>
						</td>						
						<td> 
							<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="addComment(modalComplaintNo)">
								<mat-icon>send</mat-icon>
							</button>											
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</div>
  </div>

<!-- View Details Modal -->
<div class="modal fade" id="complaintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px; ">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="exampleModalLabel"><strong> Description: {{modalDescription}}</strong> </h3>
		  <button data-bs-dismiss="modal" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
			<mat-icon>cancel</mat-icon>
		  </button>
		</div>
		<div class="modal-body">
			<div>
				<mat-grid-list  *ngFor="let rating of ratingList" cols="2" rowHeight="4:1">
					<mat-grid-tile >
						<span *ngIf="rating.rating==1"><strong ><mat-icon class="star">star</mat-icon> </strong> </span>
						<span *ngIf="rating.rating==2"><strong ><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon></strong> </span>
						<span *ngIf="rating.rating==3"><strong ><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon></strong> </span>  
						<span *ngIf="rating.rating==4"><strong ><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon></strong></span>  
						<span *ngIf="rating.rating==5"><strong ><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon><mat-icon class="star">star</mat-icon></strong></span>   
					</mat-grid-tile>

					<mat-grid-tile >
						<span style="float: right; color: blue;">-- {{rating.userId.userName}}</span>	
					</mat-grid-tile>
				</mat-grid-list>		 
			</div>			
		</div>
		<div class="modal-footer">
			<table class="table">
				<tbody>
					<tr>						
					<td>
						<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
					</td>						
						<td>
							<button  mat-icon-button color="primary" (click)="addRating(modalComplaintNo)" aria-label="Example icon button with a menu icon" style="margin-left: 15px; " >
								<mat-icon>send</mat-icon>
							</button>
						</td>
					</tr>
					<tr>
						<td> <h6><strong> 	
	
								<button *ngIf ="liked ; else elseBlock1" (click)="addLike(modalComplaintNo)"   mat-icon-button  color="accent" aria-label="Example icon button with a heart icon">
									<mat-icon>favorite</mat-icon>
								</button>
								<ng-template #elseBlock1><button  (click)="addLike(modalComplaintNo)"  mat-icon-button color="" aria-label="Example icon button with a heart icon">
									<mat-icon>favorite_border</mat-icon>
								</button></ng-template>
								
							</strong> </h6> 						
						</td>
						<td>
							<h1><strong><span id="span1">{{likeCount}}</span></strong></h1>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</div>
  </div>

