<app-citizen-navbar></app-citizen-navbar>
<br><br><br><br><br><br>
<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
       
        <h1 style="text-align: center;">Forget Password</h1>
        <span *ngIf="status" class="alert-danger">{{msg}}</span>
        <br>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username</span>
          </div>
        <input class="form-control" type="text" [(ngModel)]="inUserName">
        </div><br>
       <button class="btn btn-primary" (click)="forgetPassword()">Submit</button><br>
       <button class="btn btn-primary" (click)="returnToHome()">Return to Login</button>
       
    </div>
</div>

