<app-citizen-navbar></app-citizen-navbar>
<br><br><br><br><br>
<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-3 px-3" style="height: 350px; width: auto;">
       
        <h1 style="text-align: center;">Reset Password</h1><br>
        <div class="input-group mb-3">
            Enter New Password:
                <input class="form-control" style="margin-left: 10px;" type="password" [(ngModel)]="password">
        </div><br>
        <div class="input-group mb-3">
            Confirm Password:
            <input class="form-control" style="margin-left: 10px;" type="password" [(ngModel)]="confirmPassword">
        </div><br>
       <button class="btn btn-primary" (click)="changePassword()">Submit</button><br>
       <button class="btn btn-primary" (click)="returnToHome()">Return to Login</button>
        
    </div>
</div>