.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
h1,h3{
  font-family:cursive;
}
.scrollable-main{
  overflow-y: scroll;
  height: 87vh;
  background-color: rgb(22, 22, 37);
}
