<div class="bg">
    <mat-toolbar id="toolbar">
        <!-- <img id="logo" src="../../../../assets/images/logo-bb.jpg"> -->
        <ul>
            <li class="home-menu" routerLink="/homepage">Home</li>
            <!-- <li class="home-menu" routerLink="/about-us">About Us</li> -->
            <!-- <li class="home-menu" routerLink="/contact-us">Contact Us</li> -->
        </ul>
        
            <div class="dropdown flexExpand">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                 Login/Register
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#" routerLink="/login">Login</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/registerUser" >Register</a></li>
                  
                </ul>
              </div>
        
    </mat-toolbar>

    <mat-card>
       <h3>Welcome to</h3>
       <h1>Pune Municipal Corporation</h1>
       <p>The Pune Municipal Corporation is the civic body that governs the inner limits of Pune, India.
            It is in charge of the civic needs and infrastructure of the metropolis, 
           which is spread over an area of 484.61 sq. km. and has 3.4 million residents.</p>
    </mat-card>
</div>

<!-- <div class="home-image"></div>

    
    <div class="home-text">
        <h2>Welcome to</h2>
    <h1>Pune Municipal Corporation</h1>
    </div> -->

