.home-image {
  background-image: url(../../../../assets/images/home.jfif);
  -webkit-filter: blur(1px);
    height: 100vh;
    margin-top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .home-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    // font-weight: bold;
    font-size: 50px;

    position: absolute;
    top: 50vh;
    left: 40vh;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vh;
    padding: 20px;
    text-align: center;
  }
  #toolbar{
    color:ivory;
    //mat-elevation-z6
    height: 70px;
    width: 100% !important;
    
  }
  mat-card{
    margin-top: 200px;
    height: auto;
    margin-left: 45vh;
    max-width: 40%;
    margin-right: auto;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-bottom: auto;
  }
  .bg{
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../assets/images/hmimg.jpg");
    height: 100vh;
    margin-top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  p{
    font-family: cursive;
  }
  #logo{
    height:60px;
    width:60px;
  }
  .home-menu{
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .flexExpand {
    flex: 1 1 auto;
}