<div class="row">
  <app-admin-navbar></app-admin-navbar>
</div>
<app-sidenav></app-sidenav>
<div class="row" style="background: rgb(237,172,201);
background: radial-gradient(circle, rgba(237,172,201,1) 0%, rgba(197,211,228,1) 100%); padding-bottom: 5%;padding-top: 5%;align-self: center;">
   <div class="row">
    <div >
    <br>
<div >
<div class="row text-center  w-20 mt-3 mx-auto">
  <br>
  <div class="col-md-4 mx-auto">
    <span *ngIf="valid" class="alert alert-danger">{{msg}}</span><br/>
  </div>
</div>
<div [formGroup]="addDepartment" >
<mat-card class="example-card bg-white text-center text-dark">
  <mat-card-title class="display-6">Add Department</mat-card-title><br/>
  
  <br/>
    
  <mat-form-field appearance="fill">
    <mat-label>Department Name</mat-label>
    <input type="text" (change)="checkDepartmentName()" placeholder="Department Name" matInput formControlName="departmentName">
  </mat-form-field><br/>
  <mat-form-field appearance="fill">
    <mat-label>Assigned Head of Department</mat-label>
    <mat-select formControlName="addHod">
      <div *ngFor="let hod of hods">
      <mat-option [value]="hod.userId">{{hod.name}}</mat-option>
      
      </div>
      
    </mat-select >
  </mat-form-field><br>

  <button class="btn btn-primary" (click)="registerDepartment()">Add Department</button>
   
  </mat-card>
</div>
</div>
</div>
  